body {
    background-image: url("images/barometer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 850px;
    margin: auto;
    text-align: center;
}