

body {
    background-image: url("./barometer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 550px;
    margin: auto;
    text-align: center;
    color: aliceblue;
}

h1::first-letter {
    text-transform: capitalize;
}

h6 {
    color: black;
}